{% extends "shop/base.html" %}
{% load static %}
<main class="page _container">
   {% block content %}
   <div class="page__main-block main-block">
      <div class="main-block__container _container">
         <div class="personal-links">
            <a href="../index.html">
               <p>Главная</p>
            </a>
            <a href="busket.html">
               <p>Корзина</p>
            </a>
         </div>
         <h2 class="page-title">Ваша корзина</h2>
      </div>
   </div>
   <section class="busket-products">
      <div class="busket__products-block _container">
         <div class="busket-info">
            {% for item in cart %}
            {% with product=item.product %}
            <div class="busket-item">
               <img src="{% if product.image %}
            {{ product.image.url }}
            {% else %}
            {% static 'img/no_image.png' %}
            {% endif %}" class="busket-item-img">
               <input type="hidden" name="product_id" value="{{ product.id }}">
               <p class="item-name" style="padding-right: 5em; font-size: 1.05em;">{{ product.name }}</p>
               <p class="item-quantity" style="padding-right: 5em;"><input type="number" name="quantity"
                     value="{{ item.quantity }}" max="10" min="1" required>
               </p>
               <p class="item-price" style="padding-right: 5em;"><b>{{ item.total_price }}</b></p>
               <form action="." method="post" class="item-delete-form">
                  <button class="item-delete-btn"><a href="{% url 'cart:cart_remove' product.id %}"><img
                           src="{% static 'src/images/icons/trash.svg' %}"></a></button>
               </form>
            </div>
            {% endwith %}
            {% endfor %}
         </div>
      </div>
      {% if cart.coupon %}
      <div class="total-price-busket" style="text-align: right;">
         <h2 class="total-price-h2" style="font-size: 1.2em; padding-bottom: 1.5em;">Стоимость заказа</h2>
         <p><b>{{ cart.get_total_price }} - {{ cart.get_discount|floatformat:"2" }}</b> Р</p>
      {% else %}
      <div class="total-price-busket" style="text-align: right;">
         <h2 class="total-price-h2" style="font-size: 1.2em; padding-bottom: 1.5em;">Стоимость заказа</h2>
         <p><b>{{ cart.get_total_price }} - {{ cart.get_discount|floatformat:"2" }}</b> Р</p>
         <form action="{% url 'coupons:apply' %}" method="post" class="coupon-form">
            {{ coupon_apply_form }}
            <button type="submit" class="coupon-btn">Активировать</button>
            {% csrf_token %}
         </form>
      {% endif %}
         <div class="subscribe__container _container">
            <div class="subscribe__footer-button-div">
               <a href="{% url 'orders:order_create' %}"><button class="subscribe__footer-button">ОФОРМИТЬ
                     ЗАКАЗ</button></a>
            </div>
            <p class="subscribe__footer-description">Нажимая на кнопку «Оформить заказ», я соглашаюсь на обработку
               моих персональных данных и ознакомлен(а) с <a href="{% url 'shop:confidentiality' %}">условиями конфиденциальности</a>.</p>
         </div>
      </div>
   </section>
   {% endblock %}
</main>