{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<main class="page">
   <div class="main-block__container _container">
      <div class="personal-links">
         <a href="../index.html">
            <p>Главная</p>
         </a>
         <a href="../pages/refund.html">
            <p>О нас</p>
         </a>
      </div>
      <h2 class="page-title">О нас</h2>
   </div>
   <section class="refund-proccess _container">
      <p class="refund-desc" style="font-size: 1.1em;">Мы - интернет-магазин, специализирующийся на продаже японской
         литературы и аниме
         атрибутики. Наша команда состоит из людей, увлеченных японской культурой и искусством. Мы стремимся поделиться
         этим увлечением с нашими клиентами и предоставить им возможность приобрести качественные товары, которые
         украсят их коллекции.
         <br><br>
         В нашем магазине вы найдете широкий ассортимент продукции, включающий в себя книги, мангу, аниме фигурки,
         постеры и многое другое. Мы работаем только с проверенными поставщиками, чтобы гарантировать высокое качество
         наших товаров.
         <br><br>
         Мы понимаем, что каждый клиент уникален и имеет свой индивидуальный вкус. Поэтому мы стараемся предоставить
         широкий выбор товаров, чтобы удовлетворить потребности каждого клиента. Наша цель - создать удобную и приятную
         покупательскую среду для всех наших клиентов.
         <br><br>
         Мы гордимся тем, что наш магазин является местом, где люди могут насладиться японской культурой и найти
         уникальные товары, которые не найдутся в других магазинах. Мы надеемся, что вы познакомитесь с японской
         культурой через наш магазин и найдете здесь то, что будет радовать вас на протяжении долгого времени.
         <br><br>
         Спасибо за то, что выбрали наш магазин. Мы ценим каждого нашего клиента и готовы помочь вам с любыми вопросами.
      </p>
   </section>
</main>
   {% endblock %}