{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<main class="page">
   <div class="main-block__container _container">
      <div class="personal-links">
         <a href="../index.html">
            <p>Главная</p>
         </a>
         <a href="../pages/refund.html">
            <p>Политика конфиденциальности</p>
         </a>
      </div>
      <h2 class="page-title">Политика конфиденциальности</h2>
   </div>
   <section class="refund-proccess _container">
      <p class="refund-desc" style="font-size: 1.1em;">Наша компания строго
         соблюдает права и конфиденциальность своих клиентов. В рамках своей политики конфиденциальности мы гарантируем,
         что мы не будем раскрывать вашу личную информацию третьим лицам без вашего согласия, а также не будем
         использовать ее в целях несанкционированной рекламы.
         <br><br>
         При оформлении заказа на нашем сайте мы будем запрашивать предоставить свои данные, такие как имя, адрес,
         номер телефона и адрес электронной почты. Эти данные необходимы для оформления заказа и связи с вами в случае
         необходимости. Мы гарантируем, что эти данные будут использоваться только для целей обработки вашего заказа и
         не будут переданы другим компаниям для других целей.
         <br><br>
         Кроме того, мы используем файлы cookie для того, чтобы улучшить опыт пользования нашим сайтом. Это помогает нам
         анализировать данные о вашей активности на сайте и предлагать вам наиболее релевантные товары и услуги, а также
         оптимизировать работу сайта. Вы можете отключить использование файлов cookie в своих настройках браузера,
         однако это может повлиять на функциональность сайта.
         <br><br>
         Мы принимаем все необходимые меры для защиты ваших личных данных, используя самые последние технологии
         информационной безопасности. Однако, помните, что никакая передача данных в Интернете не является 100%
         безопасной, поэтому мы не можем гарантировать абсолютную защиту вашей личной информации.
         <br><br>
         Если у вас возникнут какие-либо вопросы или проблемы в связи с конфиденциальностью, пожалуйста, обращайтесь к
         нашей службе поддержки клиентов с помощью контактных данных на нашем сайте.
         <br><br>
         Мы благодарим вас за доверие, которое вы оказали нашей компании, и обещаем, что мы будем делать все возможное,
         чтобы защитить ваши личные данные и сделать ваш опыт работы с нами максимально комфортным.
      </p>
   </section>
</main>
{% endblock %}