{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<main class="page">
   <div class="main-block__container _container">
      <div class="personal-links">
         <a href="../index.html">
            <p>Главная</p>
         </a>
         <a href="../pages/refund.html">
            <p>Система купонов</p>
         </a>
      </div>
      <h2 class="page-title">Система купонов</h2>
   </div>
   <section class="refund-proccess _container">
      <p class="refund-desc" style="font-size: 1.1em;">Система купонов в нашем интернет-магазине предназначена для предоставления клиентам
         дополнительных скидок на покупку наших продуктов. Для получения купона нужно выполнить
         определенные условия, такие как регистрация на сайте, подписка на рассылку или совершение покупки на
         определенную сумму.
         <br><br>
         Полученный купон можно использовать при оформлении заказа и получить скидку на покупку товаров в соответствии с
         условиями купона. Купоны имеют определенный срок действия и могут быть использованы только один раз.
         Чтобы воспользоваться купоном, нужно ввести его код в специальное поле при оформлении заказа. В случае
         успешного применения купона сумма заказа будет пересчитана с учетом скидки.
         Мы рекомендуем отслеживать наши акции и следить за новостями магазина, чтобы не пропустить выгодные предложения
         и получить дополнительные купоны и скидки на покупку японской литературы и атрибутики.</p>
   </section>
</main>
{% endblock %}