{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<main class="page">
   <div class="main-block__container _container">
      <div class="personal-links">
         <a href="../index.html">
            <p>Главная</p>
         </a>
         <a href="../pages/refund.html">
            <p>Публичная оферта</p>
         </a>
      </div>
      <h2 class="page-title">Публичная оферта</h2>
   </div>
   <section class="refund-proccess _container">
      <p class="refund-desc" style="font-size: 1.1em;">Наш Интернет-магазин предлагает
         своим клиентам широкий выбор книг, манги, аниме, сувениров и других товаров, связанных с культурой Японии.
         <br><br>
         Мы работаем напрямую с японскими издательствами и производителями, чтобы предоставить нашим покупателям только
         самые качественные и подлинные товары.
         <br><br>
         У нас вы найдете всю необходимую литературу на японском языке, а также переводы на английский и русский языки.
         Манга и аниме любых жанров и направлений будут доступны для заказа. Мы также предлагаем японскую косметику,
         обувь и одежду, а также красивые сувениры восточного стиля.
         <br><br>
         Мы гарантируем, что наша продукция подлинна и соответствует высоким японским стандартам качества. Кроме того,
         мы предоставляем быструю и удобную доставку, удобные формы оплаты и грамотную консультацию наших специалистов.
         <br><br>
         Мы постоянно обновляем наш ассортимент и следим за новыми трендами в мире японской культуры. Мы работаем для
         того, чтобы наши клиенты получили наилучший сервис и остались довольными нашими услугами.
         <br><br>
         Заказывайте у нас японскую литературу и атрибутику прямо сейчас, и получайте настоящее удовольствие от японской
         культуры!
         <br><br>
         С уважением,
         Интернет-магазин японской литературы и атрибутики.
      </p>
   </section>
</main>
{% endblock %}